* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
	text-align: center;
}
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
a {
	text-decoration: none;
	color: black;
}
a:visited {
	color: blue;
}
ul, li {
	list-style: none;
}
#root {
	height: 100%;
}
